#group-container {

  a {
    text-effect: none;
    color: inherit;

    &:hover, &:active {
      text-effect: none;
      color: inherit;
    }
  }


  .group-post-textarea-container {
    float: left;
    position: relative;
    padding: 5px;
    width: 100%;
    height: auto;
    background: rgb(238, 238, 238);
    border: 1px solid #CCC;
    margin-bottom: 10px;

    -webkit-transition: height .5s;
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    transition: height .5s;


    .new-post-button {
      display: none;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 24px;
      color: #52008C;

      &:hover {
        border-color: #52008C;
      }
      i {
        color: #52008C;

      }
    }

    .btn-cancel {
      background: #FFD2CF;
      margin: 5px;
    }

    .btn-post {
      background: #CFEEFF;
      margin: 5px;
    }

    text-angular {
      position: relative;
      float: left;

      h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0px;
      }

      ul {
        list-style-type: circle;
      }

      .ta-editor {
        min-height: 100px;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
        margin: 10px 0;

        > .ta-bind {
          min-height: 100px;
        }


        &.ta-html {
          min-height: 100px;
        }

        img {
          max-width: 50%;

        }
      }

    }

    &.minimize {
      width: 100%;

      text-angular {
        display: none;

      }

      .new-post-button {
        display: block;

        width: 100%;
        height: 100%;
        text-align: center;

        i {
          font-size: 24px;
          padding: 5px;
        }
      }

      .btn-group {
        display: none;
      }


    }

  }

  .group-post-outer-container {
    background: #FCFCFC;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 40px;
    float: left;
    position: relative;
    width: 100%;

    ul {
      list-style-type: circle;
    }

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0px;
    }

    .group-post-container {
      width: 100%;
      position: relative;
      float: left;
      border: none;
      border-bottom: 1px solid #ccc;
      background: #FCFCFC;
      padding: 0px 15px;
      padding-bottom: 10px;
      margin-bottom: 8px;


      .picture {
        overflow-y: hidden;
        height: 100%;
        max-height: 106px;
        padding-left: 0px;

        img {
          width: 100%;

        }

      }

      .content {
        padding-left: 0px;

        .name {
          font-size: 18px;
          color: #52008C;
          font-weight: 700;
        }

        .name, .date {
          padding: 5px;
        }

        .group-name {
          width: auto;
          color: #52008C;
          border: 1px solid #52008C;
          margin: 5px;
          padding: 0px 5px;
          border-radius: 2px;
        }



        .post-text {
          padding: 10px 0px;
        }
      }

    }

    .comment-outer-container {
      margin-left: 10px;

      .minimize-button {
        position: absolute;
        left: -30px;
        top: calc(50% - 20px);
        color: #52008C;
        border: none;
        box-shadow: none;
        background: transparent;

        &:focus, &:hover, &:active {
          border: none;
          box-shadow: none;
          background: transparent;
        }

        .minus-icon {
          display: block;
        }
        .plus-icon {
          display: none;
        }
      }
      .comment-container {
        width: calc(100% - 30px);
        position: relative;
        float: left;
        margin: 10px;
        margin-top: -5px;
        margin-bottom: 8px;
        border: 1px solid #ccc;
        border-radius: 2px;
        background: #FCFCFC;
        padding: 0px 15px;
        margin-left: 20px;

        .picture {
          padding: 0px;
          overflow-y: hidden;
          height: 100%;

          img {
            width: 100%;
          }
        }

        .name {
          font-weight: 500;
          color: #52008C;
          padding: 5px;
        }

        .date {
          padding: 5px;
          font-size: 12px;
        }

        img {
          max-width: 100%;

        }

      }



      .minimize-comment-container {
        display: none;
      }



      &.minimize-children {
        .comment-outer-container {
          display: none;
        }

        .minimize-comment-container {
          display: block;
        }

        .minimize-button {
          .minus-icon {
            display: none;
          }
          .plus-icon {
            display: block;
          }
        }
      }





    }

    .new-comment-container {
      width: calc(100% - 50px);
      margin: -5px 10px 10px 40px;
      position: relative;
      float: left;
      border: 1px solid #ccc;
      border-radius: 2px;
      background: #FCFCFC;
      display: none;

      &.visible {
        display: block;
      }

      .post-button {
        background: #FCFCFC;
        position: absolute;
        bottom: 30px;
        right: 5px;
        font-size: 12px;
        padding: 10px;

        &:focus, &:active, &:hover {
          border: inherit;
          box-shadow: none;

        }
      }

      .cancel-button {
        position: absolute;
        top: 0px;
        right: 0px;
        background: transparent;
        border: none;
        color: #CCC;

        &:focus, &:hover, &:active {
          color: #000;
        }
      }

      text-angular {
        position: relative;
        float: left;
        width: calc(100% - 70px);

        .ta-editor {
          min-height: 0px;
          overflow: auto;
          font-family: inherit;
          font-size: 100%;
          margin: 10px 0;

          > .ta-bind {
            min-height: 0px;
          }


          &.ta-html {
            min-height: 0px;
          }

          img {
            max-width: 50%;

          }
        }

      }

      .new-comment-title {
        margin: 10px 10px 0px;
        font-size: 24px;
        font-weight: 700;
      }

    }

    >.new-comment-container {
      width: 100%;
      margin: 0px;
      border: none;
      border-top: 1px solid #ccc;
      background: rgba(103, 13, 167, 0.13);

    }




  }

  .no-posts-message {
    font-size: 24px;
    width: 100%;
    height: 100%;

    .message {
      text-align: center;
      margin-top: calc(50% - 12px);
    }
  }

  #intro-container {
    width: 100%;
    min-height: 300px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px;

    .title {
      font-size: 24px;
    }

    .add-groups-container {
      padding: 20px;
    }

    .update-status-row {
      margin-top: 50px;

      .status-saved-message {
        font-size: 10px;
        color: #52008C;
        text-align: center;
      }
    }
  }
}