#formViews {

  &.ng-enter, &.ng-leave {
    position: absolute;
    left: 30px;
    right: 30px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  &.ng-enter {
    &.leaveLeft {

      -webkit-animation: slideInRight 0.5s both ease;
      -moz-animation: slideInRight 0.5s both ease;
      animation: slideInRight 0.5s both ease;
    }

    &.leaveRight {
      -webkit-animation: slideInLeft 0.5s both ease;
      -moz-animation: slideInLeft 0.5s both ease;
      animation: slideInLeft 0.5s both ease;
    }
  }

  &.ng-leave {
    &.leaveLeft {
      -webkit-animation: slideOutLeft 0.5s both ease;
      -moz-animation: slideOutLeft 0.5s both ease;
      animation: slideOutLeft 0.5s both ease;
    }


    &.leaveRight {
      -webkit-animation: slideOutRight 0.5s both ease;
      -moz-animation: slideOutRight 0.5s both ease;
      animation: slideOutRight 0.5s both ease;
    }
  }
}
  @keyframes slideOutLeft {
    to {
      transform: translateX(-200%);
    }
  }
  @-moz-keyframes slideOutLeft {
    to {
      -moz-transform: translateX(-200%);
    }
  }
  @-webkit-keyframes slideOutLeft {
    to {
      -webkit-transform: translateX(-200%);
    }
  }

  @keyframes slideOutRight {
    to {
      transform: translateX(200%);
    }
  }
  @-moz-keyframes slideOutRight {
    to {
      -moz-transform: translateX(200%);
    }
  }
  @-webkit-keyframes slideOutRight {
    to {
      -webkit-transform: translateX(200%);
    }
  }

  /* slide in from the right */
  @keyframes slideInRight {
    from {
      transform: translateX(200%);
    }
    to {
      transform: translateX(0%);
    }
  }
  @-moz-keyframes slideInRight {
    from {
      -moz-transform: translateX(200%);
    }
    to {
      -moz-transform: translateX(0%);
    }
  }
  @-webkit-keyframes slideInRight {
    from {
      -webkit-transform: translateX(200%);
    }
    to {
      -webkit-transform: translateX(0%);
    }
  }

  /* slide in from the left */
  @keyframes slideInLeft {
    from {
      transform: translateX(-200%);
    }
    to {
      transform: translateX(0%);
    }
  }
  @-moz-keyframes slideInLeft {
    from {
      -moz-transform: translateX(-200%);
    }
    to {
      -moz-transform: translateX(0%);
    }
  }
  @-webkit-keyframes slideInLeft {
    from {
      -webkit-transform: translateX(-200%);
    }
    to {
      -webkit-transform: translateX(0%);
    }
  }

