if CDN
    link(href="https://s3-us-west-1.amazonaws.com/twerk.io/css/application2.min.css", type="text/css", rel="stylesheet")
    script(src="https://s3-us-west-1.amazonaws.com/twerk.io/socket.io.min.js")
    script(src="https://s3-us-west-1.amazonaws.com/twerk.io/application3.min.js")

else if MIN
    link(href="/css/application.min.css", rel="stylesheet")
    script(src="/js/socket-io/socket.io.min.js")
    script(src="/js/application.min.js")
    script(src="/js/application.min.js.map")


else
    link(href="/css/application.min.css", rel="stylesheet")
    link(href="/css/form.css", rel="stylesheet")
    script(src='/bower_components/ng-file-upload/angular-file-upload-shim.min.js')
    script(src='/bower_components/angular/angular.min.js')
    script(src="/bower_components/angular-loading-bar/build/loading-bar.js")
    script(src="/js/socket-io/socket.io.min.js")
    script(src="/bower_components/angular-socket-io/socket.js")
    script(src="/bower_components/angular-once/once.js")
    script(src="/bower_components/angular-animate/angular-animate.js")
    script(src="/bower_components/angular-strap/dist/angular-strap.js")
    script(src="/bower_components/angular-strap/dist/angular-strap.tpl.js")
    script(src='/bower_components/ng-file-upload/angular-file-upload.min.js')
    script(src="/js/jquery.min.js")
    script(src="/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js")
    script(src="/bower_components/angular-scroll-glue/src/scrollglue.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/jquery.easing.min.js")
    script(src="/js/jquery.scrollTo.js")
    script(src="/js/wow.min.js")
    script(src="/bower_components/angular-bootstrap/ui-bootstrap.min.js")
    script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
    script(src="/bower_components/angular-ui-select/dist/select.min.js")
    script(src="/bower_components/angular-flash/dist/angular-flash.min.js")
    script(src="/bower_components/ui-router/release/angular-ui-router.min.js")
    script(src="/js/custom.js")
    script(src="/bower_components/angular-xeditable/dist/js/xeditable.js")
    script(src="/bower_components/angular-ui/build/angular-ui.min.js")
    script(src="/bower_components/textAngular/dist/textAngular-rangy.min.js")
    script(src="/bower_components/textAngular/dist/textAngular-sanitize.min.js")
    script(src="/bower_components/textAngular/dist/textAngular.min.js")
    script(src="/bower_components/angular-cookies/angular-cookies.min.js")
    script(src="/bower_components/angular-ui-utils/ui-utils.js")

    script(src="/js/angular/twerkApp.js")

    script(src="/js/angular/controllers/siteCtrl.js")

    script(src="/js/angular/controllers/authCtrl.js")

    script(src="/js/angular/controllers/messagesCtrl.js")

    script(src="/js/angular/controllers/roomCtrl.js")
    script(src="/js/angular/controllers/browseCtrl.js")
    script(src="/js/angular/controllers/browseClassCtrl.js")

    script(src="/js/angular/controllers/accountCtrl.js")
    script(src="/js/angular/controllers/dashboardCtrl.js")
    script(src="/js/angular/controllers/verifyCtrl.js")
    script(src="/js/angular/controllers/aboutCtrl.js")
    script(src="/js/angular/controllers/loginCtrl.js")
    script(src="/js/angular/controllers/registerCtrl.js")
    script(src="/js/angular/controllers/groupCtrl.js")

    script(src="/js/angular/services/groupFactory.js")
    script(src="/js/angular/services/principal.js")
    script(src="/js/angular/services/authorization.js")
    script(src="/js/angular/services/authInterceptor.js")
    script(src="/js/angular/services/socket.js")
    script(src="/js/angular/services/messageFactory.js")
    script(src="/js/angular/services/userFactory.js")

    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")


