nav.navbar.navbar-custom.navbar-fixed-top(role="navigation")
    .container
        .navbar-header.page-scroll
            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-main-collapse")
                i.fa.fa-bars
            a.navbar-brand(ui-sref="site.home.intro")
                h1 Twerk.io
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
            ul.nav.navbar-nav


                li.dropdown.float-right(ng-if="principal.isAuthenticated()")
                    a.dropdown-toggle(data-toggle="dropdown") Account
                        span.caret
                    ul.dropdown-menu
                        li
                            a(ui-sref="site.account.profile") Profile
                        li(ng-if="principal.isInRole('Admin')")
                            a(ui-sref="site.dashboard.users") Dashboard
                        li
                            a(ng-click="logout()") Logout

                li(ng-if="!principal.isAuthenticated()")
                    a(ui-sref="site.home.login") Login
