nav.navbar.navbar-custom.navbar-fixed-top.top-nav-collapse(role="navigation", ng-controller="navCtrl")
    .container
        .navbar-header.page-scroll
            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-main-collapse")
                i.fa.fa-bars
            a.navbar-brand(href="/")
                h1 Delta Upsilon
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
            ul.nav.navbar-nav
                li
                    a(ui-sref-active="active", ui-sref="home.about") About
                li
                    a(ui-sref-active="active", ui-sref="scholarship.intro") Scholarship
                li
                    a(href="/blog") Blog
                li
                    a(href="/alumni") Alumni
                if user
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown") Account
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/account") Profile
                            li
                                a(href="/logout") Logout
                else
                    li
                        a(href="/login") Login
                if user && user.email == 'historian@ducalifornia.org'
                    li.create-blog-post
                        a(href='/blog/new')
                            i.fa.fa-edit