.row
    .col-lg-8.col-lg-offset-2.col-xs-12
        .form-group.form-group-lg
            label.col-xs-12.input-lg.label-main What's your name?
            input.form-control.input-lg.col-xs-12.input-main(ng-model="formData.name")

.row.form-button
    .col-lg-4.col-lg-offset-4.col-xs-8.col-xs-offset-2.text-center
        a.btn.btn-default.btn-main(ui-sref="home.request.email", ng-show="formData.name && formData.name.length > 2")
            | Next
            span.fa.fa-angle-right