.row
    .col-lg-8.col-lg-offset-2.col-xs-12
        .form-group.form-group-lg
            label.col-xs-12.input-lg.label-main Enter your phone number:
            input.col-xs-12.form-control.input-lg.input-main(ng-model="formData.phone", type="tel", name="phone", ui-mask="(999) 999-9999")

.form-group.row.form-button
    .col-lg-4.col-lg-offset-4.col-xs-12.text-center
        a.btn.btn-default.btn-main(ui-sref="home.request.details", ng-show="formData.phone.length == 10")
            | Next
            span.fa.fa-arrow-circle-o-right