
.row
    .form-group.form-group-lg
        label.col-xs-12.input-lg More details about your location (what color is your shirt? what section of the library?)
        textarea.col-xs-12.form-control.form-control-lg.input-lg(rows="2", placeholder="200 word limit", ng-model="formData.supplement1")

.row
    .form-group.form-group-lg
        label.col-xs-12.input-lg What are you working on? (We'll try to match people working on similar things.)
        textarea.form-control.form-control-lg.input-lg(rows="2", placeholder="200 word limit", ng-model="formData.supplement2")

.form-group.row.form-button
    .col-lg-4.col-lg-offset-4.col-xs-12.text-center
        a.btn.btn-default.btn-lg.btn-main(type="submit", ui-sref="home.request.outro", style="font-size: 20px;")
            | Post Twerkspace