div.container.content-container
    div.row(style="margin-top: 100px;")
        div.col-lg-8.col-lg-offset-2.col-sm-12
            form#scholarshipForm(ng-submit="login()")
                .ui-view#formViews(ng-init="user.csrf='#{_csrf}'")
                    .row
                        .col-lg-8.col-lg-offset-2.col-xs-12
                            .form-group.form-group-lg
                                label.col-xs-12.input-lg.label-main Email:
                                input.col-xs-12.form-control.input-lg.input-main(name="email", ng-model="formData.email")
                    .row
                        .col-lg-8.col-lg-offset-2.col-xs-12
                            .form-group.form-group-lg
                                label.col-xs-12.input-lg.label-main Password:
                                input.col-xs-12.form-control.input-lg.input-main(type="password", ng-model="formData.password")

                    .row.form-button
                        .col-lg-4.col-lg-offset-4.col-xs-12.text-center
                            a.btn.btn-default.btn-main(
                            ng-show="formData.email.indexOf('@berkeley.edu') > -1 && formData.password.length > 1",
                            ng-click="login()")
                                | Login