h2 Twerking hard or hardly twerking?
    p Nobody likes to twerk alone. When classes are large, exams are looming, or your professor has a weird fetish for solo projects, it can be hard to find motivation.
    p Use twerk.io to find people in your classes, post open spots in Main Stacks, or just to remind yourself that you're not the only person on that struggle bus.

    .row.form-control-row
        .col-xs-12.text-center
            a.btn.btn-default.btn-main(ui-sref="site.home.register.email") Register