h2 Twerking hard or hardly twerking?
    p Avoid your lonely twerk sesh and keep your motivation high. Look for classmates, spots in Main Stacks,
     | or find the twerk partner of your dreams.
    p Plus, you'll never worry again about leaving your stuff with complete strangers when you take a break.

    .row.form-control-row
        .col-xs-12.text-center
            a.btn.btn-default.btn-main(ui-sref="site.home.register.email") Register