h2 Twerking hard or hardly twerking?
    p Find people in your classes, or just find other students to be around while you work on your own thing.
    p Never worry again about leaving your stuff with complete strangers when you take a break!

    .row.form-control-row
        .col-xs-12.text-center
            a.btn.btn-default.btn-main(ui-sref="site.home.register.email") Register