doctype html
html(ng-app='duApp')
    head
        block head

        include partials/head

    body#page-top(data-spy="scroll", data-target=".navbar-custom")
        block body


        != js('application')
