html body {
  /* add warning colors to warn class */ }
  html body #statusButtons a {
    font-size: 14px;
    padding: 10px 10px 5px 10px; }
  html body ul {
    list-style-type: none !important; }
  html body a {
    cursor: pointer; }
  html body .scroll-container {
    margin-top: 50px;
    overflow-y: scroll;
    height: calc(100% - 50px); }
  html body #tagSelection ul {
    background-image: none;
    border-radius: 6px; }
    html body #tagSelection ul input {
      padding: 10px 16px;
      height: 46px;
      font-size: 18px; }
    html body #tagSelection ul .select2-search-choice {
      background-image: none;
      background-color: #FFF;
      font-size: 18px;
      line-height: 18px; }
  html body .scholarship-page {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("https://s3-us-west-1.amazonaws.com/ducalifornia.node/img/doe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; }
    html body .scholarship-page .scholarship-par {
      font-size: 26px;
      color: white; }
    html body .scholarship-page #scholarship-intro {
      background: none repeat scroll 0% 0% rgba(0, 120, 180, 0.7);
      width: 100%;
      height: 100%;
      height: calc(100% - 1px);
      padding-top: 1px; }
      html body .scholarship-page #scholarship-intro .content-container {
        padding-top: 100px; }
      html body .scholarship-page #scholarship-intro .row {
        max-width: 1200px;
        margin: 0 auto; }
    html body .scholarship-page #scholarshipForm {
      margin-top: 0px;
      padding-top: 75px;
      background-color: #FFF;
      width: 100%;
      height: 100%; }
  html body ui-view, html body .ui-view {
    height: 100%; }
  html body .btn.btn-default.ng-pristine {
    color: #AAA; }
    html body .btn.btn-default.ng-pristine.ng-dirty {
      color: #333; }
  html body nav li.dropdown {
    cursor: pointer; }
    html body nav li.dropdown.open a {
      background-color: rgba(255, 255, 255, 0) !important;
      color: #444 !important; }
    html body nav li.dropdown.open ul {
      padding: 0px;
      background-color: rgba(255, 255, 255, 0.4) !important; }
      html body nav li.dropdown.open ul a:hover {
        background-color: rgba(255, 255, 255, 0.4) !important;
        color: #444 !important; }
  html body nav.top-nav-collapse li.dropdown.open a {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #444 !important;
    cursor: pointer; }
  html body nav.top-nav-collapse li.dropdown.open ul {
    background-color: white !important; }
    html body nav.top-nav-collapse li.dropdown.open ul a:hover {
      background-color: rgba(0, 0, 0, 0.1) !important;
      color: #444 !important;
      cursor: pointer; }
  html body nav.transparent-nav {
    background: transparent !important; }
  html body .form-control-row {
    margin-top: 50px; }
  html body .btn-form {
    font-size: 24px;
    margin-top: 0px; }
    html body .btn-form .btn-circle-form {
      color: #67B0D1;
      border-color: transparent;
      margin-top: 0px; }
    html body .btn-form i {
      color: #67B0D1;
      font-size: 40px;
      vertical-align: bottom;
      margin: 0px 10px; }
  html body .btn-border {
    border: 2px solid #FFF;
    border-radius: 0px;
    padding: 5px;
    line-height: 24px; }
  html body .bounce-home {
    position: absolute;
    left: 50%;
    bottom: 10%;
    margin-left: -100px;
    height: 50px;
    width: 200px;
    background: transparent;
    text-align: center;
    -webkit-animation-name: bounce;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s; }
  html body .btn-main {
    height: 50px;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
    font-size: 20px;
    line-height: 35px; }
  html body .alert-flash {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    position: fixed;
    z-index: 1000; }
  html body .alert-flash h4 {
    margin: 0; }
  html body .address-select {
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    background: #FFF;
    background-image: #FFF; }
    html body .address-select .selectize-input {
      background: #FFF;
      background-image: none !important;
      box-shadow: none !important;
      background-color: #FFF !important;
      height: 46px !important; }
      html body .address-select .selectize-input input {
        line-height: 24px;
        font-size: 18px; }
  html body #statusButtons {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    html body #statusButtons a {
      margin: 5px;
      border-bottom: 2px solid transparent; }
      html body #statusButtons a.active {
        border-bottom-color: #666;
        color: #666; }
      html body #statusButtons a.error {
        color: red; }
      html body #statusButtons a.valid {
        color: green; }
    html body #statusButtons.dashboard-btn a {
      margin: 10px;
      font-size: 20px;
      border-bottom: 2px solid transparent; }
      html body #statusButtons.dashboard-btn a.active {
        border-bottom-color: #666;
        color: #666; }
  html body .alert-flash .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px; }
  html body .alert-warn {
    background-color: #fcf8e3;
    border: 1px solid #fbeed5; }
  html body .alert-warn,
  html body .alert-warn h4 {
    color: #c09853; }
  html body div[flash-alert] {
    position: absolute;
    width: 100%;
    margin: 0px auto;
    z-index: 1002; }
  html body .create-blog-post, html body .publish-blog-post {
    position: fixed;
    z-index: 1031;
    top: 0px;
    right: 50px; }
    html body .create-blog-post i, html body .publish-blog-post i {
      font-size: 24px; }
  html body .publish-blog-post {
    z-index: 1032;
    top: 7px; }
  html body .editable {
    cursor: pointer; }
  html body .content-container {
    padding-top: 40px; }
    html body .content-container .blog-post-title {
      font-size: 52px;
      color: #000;
      width: 100%;
      border: 0px; }
      html body .content-container .blog-post-title:focus {
        outline: 0px; }
    html body .content-container text-angular {
      width: 100%;
      min-height: 400px;
      border: 0px; }
      html body .content-container text-angular p {
        font-size: 24px !important; }
      html body .content-container text-angular .form-control {
        height: auto !important;
        box-shadow: none;
        border: 0px; }
        html body .content-container text-angular .form-control:focus {
          outline: 0; }
      html body .content-container text-angular .ta-text *:focus {
        outline: 0px; }
      html body .content-container text-angular .ta-toolbar {
        top: 0px;
        position: fixed;
        padding-top: 0px;
        background-color: #FFF;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s; }
        html body .content-container text-angular .ta-toolbar.focussed {
          padding-top: 2px;
          top: 50px; }
      html body .content-container text-angular .ta-resizer-handle-overlay {
        display: none !important; }
  html body #dir-container {
    height: 100%;
    padding: 55px 50px 0px 50px; }
    html body #dir-container > .row {
      height: calc(100% - 5px);
      width: 100%; }
      html body #dir-container > .row .dir-col {
        width: 0%;
        float: left;
        padding: 0px 10px 0px 10px;
        height: 100%;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s; }
        html body #dir-container > .row .dir-col.col-lg-12 {
          width: 100%; }
        html body #dir-container > .row .dir-col.col-lg-8 {
          width: calc(100% - 100% / 3); }
        html body #dir-container > .row .dir-col.col-lg-4 {
          width: calc(100% - 200% / 3); }
        html body #dir-container > .row .dir-col.right-pane {
          border-left: solid 2px darkgray; }
          html body #dir-container > .row .dir-col.right-pane .email {
            font-size: 22px; }
          html body #dir-container > .row .dir-col.right-pane .section {
            margin-top: 30px; }
            html body #dir-container > .row .dir-col.right-pane .section .detail {
              font-size: 18px; }
            html body #dir-container > .row .dir-col.right-pane .section .detail-xs {
              font-size: 14px; }
            html body #dir-container > .row .dir-col.right-pane .section h1, html body #dir-container > .row .dir-col.right-pane .section h2, html body #dir-container > .row .dir-col.right-pane .section h3, html body #dir-container > .row .dir-col.right-pane .section h4, html body #dir-container > .row .dir-col.right-pane .section h5, html body #dir-container > .row .dir-col.right-pane .section h6 {
              margin-bottom: 0px;
              margin-top: 10px; }
            html body #dir-container > .row .dir-col.right-pane .section p {
              margin: 10px 10px 0px 10px; }
        html body #dir-container > .row .dir-col .nav-dir {
          height: 50px;
          width: calc(100% - 20px);
          left: 20px;
          position: absolute;
          background-color: white; }
          html body #dir-container > .row .dir-col .nav-dir .search-box-outer {
            border: 1px solid #DDD;
            border-radius: 2px;
            width: 100%; }
            html body #dir-container > .row .dir-col .nav-dir .search-box-outer .search-icon {
              position: absolute;
              top: 0;
              left: 0;
              width: 24px;
              height: 100%;
              line-height: 40px;
              vertical-align: middle;
              font-size: 24px; }
            html body #dir-container > .row .dir-col .nav-dir .search-box-outer .search-cat-select-col, html body #dir-container > .row .dir-col .nav-dir .search-box-outer .search-col {
              width: auto;
              float: left;
              padding-left: 32px;
              vertical-align: middle;
              line-height: 40px;
              background: transparent; }
              html body #dir-container > .row .dir-col .nav-dir .search-box-outer .search-cat-select-col button, html body #dir-container > .row .dir-col .nav-dir .search-box-outer .search-col button {
                background: transparent;
                border: none;
                color: #333; }
            html body #dir-container > .row .dir-col .nav-dir .search-box-outer .search-col {
              padding-left: 5px;
              min-width: 200px;
              width: calc(100% - 200px); }
            html body #dir-container > .row .dir-col .nav-dir .search-box-outer .search-box-inner {
              font-size: 24px;
              border: none;
              width: 100%;
              height: 100%; }
        html body #dir-container > .row .dir-col .dir-inner-container {
          margin-top: 55px;
          height: calc(100% - 55px);
          overflow-y: scroll; }
          html body #dir-container > .row .dir-col .dir-inner-container .dir-sm-container {
            float: left;
            width: 320px;
            height: 100px;
            background: #f9f9f9;
            padding: 5px;
            border: 1px solid transparent;
            border-radius: 2px;
            margin: 10px; }
            html body #dir-container > .row .dir-col .dir-inner-container .dir-sm-container .col-xs-4 {
              max-height: 80px;
              overflow-y: hidden; }
              html body #dir-container > .row .dir-col .dir-inner-container .dir-sm-container .col-xs-4 img {
                width: 100%; }
            html body #dir-container > .row .dir-col .dir-inner-container .dir-sm-container h5 {
              margin-bottom: 0px; }
  html body #new-blog-post-container {
    margin-top: 50px; }
  html body #blog-posts-container {
    margin-top: 50px; }
  html body #account-container .col-xs-12 .btn-save {
    margin-top: 10px; }
  html body #account-container .btn-save {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    html body #account-container .btn-save.ng-hide {
      opacity: 0; }
    html body #account-container .btn-save.ng-show {
      opacity: 1; }
    html body #account-container .btn-save i {
      margin-left: 5px; }
  html body #account-container .page-header {
    margin: 40px 0px 20px;
    padding-top: 0px; }
    html body #account-container .page-header h2 {
      margin: 0px auto; }
  html body #account-container table li.select2-disabled {
    display: none; }
  html body #home-container {
    background-image: url("/img/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; }
    html body #home-container #home-intro {
      background: rgba(255, 255, 255, 0.7);
      width: 100%;
      height: calc(100% - 1px);
      padding-top: 1px; }
      html body #home-container #home-intro .content-container .col-md-6, html body #home-container #home-intro .content-container .col-xs-10 {
        background: white;
        padding: 20px;
        overflow-x: hidden; }
        html body #home-container #home-intro .content-container .col-md-6 h1, html body #home-container #home-intro .content-container .col-md-6 h2, html body #home-container #home-intro .content-container .col-md-6 h3, html body #home-container #home-intro .content-container .col-md-6 h4, html body #home-container #home-intro .content-container .col-md-6 h5, html body #home-container #home-intro .content-container .col-md-6 h6, html body #home-container #home-intro .content-container .col-xs-10 h1, html body #home-container #home-intro .content-container .col-xs-10 h2, html body #home-container #home-intro .content-container .col-xs-10 h3, html body #home-container #home-intro .content-container .col-xs-10 h4, html body #home-container #home-intro .content-container .col-xs-10 h5, html body #home-container #home-intro .content-container .col-xs-10 h6 {
          color: #666;
          font-weight: 700; }
        html body #home-container #home-intro .content-container .col-md-6 p, html body #home-container #home-intro .content-container .col-xs-10 p {
          margin-top: 20px;
          font-size: 24px;
          font-weight: 300;
          color: #666;
          text-transform: none; }
        html body #home-container #home-intro .content-container .col-md-6 #registerForm, html body #home-container #home-intro .content-container .col-xs-10 #registerForm {
          min-height: 210px; }
