.col-xs-12
    .row
        .col-xs-12
            .form-group.form-group-lg.row
                label.col-xs-12 Short bio:
                textarea.col-xs-12.form-control(rows="10", style="font-size: 14px;", ng-model="user.shortbio")
