.col-xs-12

    .row
        .col-xs-8.col-xs-offset-2
            .form-group.form-group-lg.row
                label.col-xs-2 LinkedIn:
                input.col-xs-10.form-control(ng-model="user.linkedin")
    .row
        .col-xs-8.col-xs-offset-2
            .form-group.form-group-lg.row
                label.col-xs-2 Facebook:
                input.col-xs-10.form-control(ng-model="user.facebook")

    .row
        .col-xs-8.col-xs-offset-2
            .form-group.row
                label.col-xs-2 Twitter:
                input.col-xs-10.form-control(ng-model="user.twitter")