div.row
    div.col-xs-12
        .page-header.text-left
            h2 Profile Information
            #statusButtons.text-center
                a(ui-sref-active="active", ui-sref=".basic") Basic
                a(ui-sref-active="active", ui-sref=".academic") Academic
                a(ui-sref-active="active", ui-sref=".supplement") Supplement
div.row
    div.col-xs-12
        form#scholarshipForm
            .ui-view#formViews

