.col-xs-12
    .row
        .col-lg-6.col-lg-offset-3.col-xs-8.col-xs-offset-2
            .form-group.form-group-lg.row
                label.col-xs-12.input-lg Current password:
                input.col-xs-12.form-control.input-lg(type="password", ng-model="user.currpassword")

    .row
        .col-lg-6.col-lg-offset-3.col-xs-8.col-xs-offset-2
            .form-group.form-group-lg.row
                label.col-xs-12.input-lg New password:
                input.col-xs-12.form-control.input-lg(type="password", ng-model="user.password")
    .row
        .col-lg-6.col-lg-offset-3.col-xs-8.col-xs-offset-2
            .form-group.form-group-lg.row
                label.col-xs-12.input-lg Confirm new password:
                input.col-xs-12.form-control.input-lg(type="password", ng-model="user.repassword")
