.container.content-container
    div.alert-warn.fade(flash-alert='error', active-class='in alert', ng-init="getPosts()")
        strong.alert-message {{flash.message}}
        input(type='hidden', name='_csrf', value=_csrf, ng-init="user.csrf='#{_csrf}'")
    div.jumbotron(ng-repeat="post in posts", ng-show="posts.length > 0")
        h1 {{post.title}}
        div(ng-bind-html='renderHtml(post.text)')
        