div.container#browse-container(infinite-scroll="getMorePosts()")
        .row
            .col-xs-12
                .class-selection-container
                    .container
                        div.no-class-message(ng-show="me.groups.length == 0") You have no classes! Add some on the profile page.
                        a.class-container(ng-show="me.groups != null", ui-sref="site.auth.browse.all", ui-sref-active="active") ALL
                        a.class-container(
                        ng-repeat="group in me.groups", ui-sref="site.auth.browse.group({url : group.url})", ui-sref-active="active")
                            div(once-text="group.name")
        .row.browse-row
            .col-md-4.col-xs-0.browse-left-col

                .status-container
                    h4 Status
                    .btn.btn-main.btn-status(ng-click="statusInputShow = true;", ng-show="!statusInputShow")
                        | Edit
                    .status-inner-container
                        .status-date(ng-show="!statusInputShow") {{me.statusDateFormatted}}
                        .text-left.status(ng-show="!statusInputShow") {{me.status || "You don't have a status right now! Update your status to tell other users what you're working on."}}
                        .status-update(ng-show="statusInputShow")
                            textarea.status-input(ng-model="statusInput")
                            a.btn-status-save(ng-click="saveStatusUpdate()")
                                i.glyphicon.glyphicon-ok
                            a.btn-status-cancel(ng-click="cancelStatusUpdate()")
                                i.glyphicon.glyphicon-remove

                .users-outer-container
                    .users-search-container
                        div.alert-warn.fade(flash-alert='error', active-class='in alert')
                            strong.alert-message {{flash.message}}
                        .search-box-outer
                            i.fa.fa-search.search-icon
                            input.search-box-inner(ng-model="search", placeholder="Filter by class, status updates, and name")

                    .users-inner-container(infinite-scroll="getMoreUsers()", infinite-scroll-disabled="newUsersDisabled")
                        a.users-sm-container.offline(ng-repeat="user in users | browseFilter:search:currentClassFilter | orderBy: 'lastOnline' : true track by user._id",
                        ng-class="{'online': user.onlineStatus.online}", ng-click="goToMessages(user)")
                            .profile-info-container
                                .row
                                    .col-xs-3.img-col
                                        img(once-src="getThumbnail(user.picture)")
                                    .col-xs-9.status-col
                                        .date-container
                                            .status-date {{formatDate(user.statusCreated)}}
                                            .last-seen last seen: {{user.onlineStatus.online ? 'now' : formatDate(user.onlineStatus.lastOnline)}}

                                        .status.text-left {{user.status || 'No status to display.'}}
                                .row
                                    .col-xs-12
                                        .name.text-left(once-text="user.name")
                                        .classes.text-left(once-text="user.classes.length > 0 ? user.classes.join(', ') : 'No classes.'")

                        .manual-load-button(ng-click="getMoreUsers()") {{ loadUsersButtonText }}

            .col-sm-8.col-sm-offset-4.col-xs-12.browse-right-col
                .ui-view#group-container


