div.row

    div.col-xs-10.col-xs-offset-1
        .page-header.text-center
            div.alert-warn.fade(flash-alert="error", active-class='in alert', ng-click="hide()")
                strong.alert-message {{flash.message}}
            div.alert-warn.fade.row(flash-alert='success', active-class='in alert')
                strong.alert-message {{flash.message}}

            h2 Login

        form(name="formData").row
            .col-xs-12
                .row
                    .col-lg-6.col-lg-offset-3.col-xs-8.col-xs-offset-2
                        .form-group.form-group-lg.row

                            .col-xs-12
                                label.input-lg Email:
                            .col-xs-12
                                input.form-control.input-lg(type="email", ng-model="formData.email", ng-class="{'error': formData.email.$error.$email}")
                    .col-lg-6.col-lg-offset-3.col-xs-8.col-xs-offset-2
                        .form-group.form-group-lg.row
                            .col-xs-12
                                label.input-lg Password:
                            .col-xs-12
                                input.form-control.input-lg(type="password", ng-model="formData.password")

                .row.form-control-row
                    .col-xs-6.col-xs-offset-6.text-center
                        a
                            button.btn.btn-lg.btn-default(type="submit", ng-click="processForm()")
                                | Login
