div.row

    div.col-xs-10.col-xs-offset-1
        .page-header.text-center
            div.alert-warn.fade(flash-alert="error", active-class='in alert', ng-click="hide()")
                strong.alert-message {{flash.message}}
            div.alert-warn.fade.row(flash-alert='success', active-class='in alert')
                strong.alert-message {{flash.message}}

            h2 Login

        form(name="formData", ng-submit="processForm()").row
            .col-xs-12
                .row
                    .col-lg-6.col-lg-offset-3.col-xs-8.col-xs-offset-2
                        .form-group.form-group-lg.row
                            label.col-xs-2.input-lg Email:
                            input.col-xs-10.form-control.input-lg(type="email", ng-model="formData.email", ng-class="{'error': formData.username.$error.$email}")
                    .col-lg-6.col-lg-offset-3.col-xs-8.col-xs-offset-2
                        .form-group.form-group-lg.row
                            label.col-xs-2.input-lg Password:
                            input.col-xs-10.form-control.input-lg(type="password", ng-model="formData.password", ng-class="{'error': formData.username.$error.$email}")

                .row.form-control-row
                    .col-xs-6.col-xs-offset-6.text-center
                        a
                            button.btn.btn-lg.btn-default(type='submit')
                                | Login
