div.container#messages-container
    .row
        .messages-col.col-xs-5
            .messages-outer-container
                nav.nav-messages
                    .search-box-outer
                        i.fa.fa-search.search-icon
                        input.search-box-inner(ng-model="search", ng-focus="searchFocus")
                .clearfix

                .messages-inner-container
                    a.messages-sm-container(ng-show="room.messages.length > 0 || room.selected",
                    ng-repeat="room in roomsArr | filter: search | orderBy: 'lastMessageCreated' : true",
                    ng-click="goToRoom(room._id, userInfo[room.toUser])",
                    ng-class="{'selected' : room.selected}")
                        i(ng-show="room.online").glyphicon.glyphicon-comment
                        .col-md-2.col-xs-3.img-col
                            img(once-src="getThumbnail(room.toUserArr[0].picture)")
                        .col-md-10.col-xs-9.name-col
                            .text-left
                                h5.name(once-text="room.toUserArr[0].name")
                            .last-message-col.text-left
                                | {{room.lastMessage}}



        .messages-col.right-pane.col-xs-7
            .ui-view#messagesView
                .no-message(style="position: absolute; width: 100%; text-align: center; font-size: 24px; top: calc(50% - 30px)") Click on a thread to view messages.