div.container#messages-container
    .row
        .messages-col.col-xs-5
            nav.nav-messages
                .search-box-outer.row
                    input(type="hidden", name="selectedSearchCat", value="{{selectedSearchCat}}", ng-model="selectedSearchCat")
                    i.fa.fa-search.search-icon
                    .search-cat-select-col
                        button.btn.btn-default(type='button', ng-model='selectedSearchCat',
                        data-html='1', ng-options='searchCat as searchCat for searchCat in searchCats',
                        bs-select='')
                            span.caret
                    .search-col
                        input.search-box-inner(ng-model="search", ng-focus="searchFocus")


            .messages-inner-container
                a.messages-sm-container.full-width(ng-repeat="room in rooms")
                    .row
                        .col-xs-4
                            img(src="{{user.picture || '/img/generic_avatar.gif'}}")
                        .col-xs-8
                            h5.text-left {{user.name || 'Unknown Name'}}
                            .text-left {{user.status}}
                            .text-left {{(user.pledgeclassSeason && user.pledgeclassYear) ? user.pledgeclassSeason + ' ' + user.pledgeclassYear : 'Unknown pledge class'}}
                            .text-left {{user.major ? user.major : 'Unknown major' }}



        .messages-col.right-pane.col-xs-7
            .ui-view#messagesView
                .jumbotron(style="width: 100%; height: 100%; margin: 15px;")
                    h1 Nothing to display