


div.container.content-container#account-container

    div.row
        div.col-xs-12

            .page-header.text-left
                div.alert-warn.fade(flash-alert="error", active-class='in alert')
                    strong.alert-message {{flash.message}}
                div.alert-warn.fade.row(flash-alert='success', active-class='in alert')
                    strong.alert-message {{flash.message}}
                .row
                    .col-md-11.col-xs-11
                        h2 Profile Information

                    .col-md-1.col-xs-1
                        a(ng-click="processForm()", ng-show="dataHasChanged")
                            button.btn.btn-lg.btn-warning.btn-save(ng-show="dataHasChanged") Save Profile
                                i.fa.fa-save



    div.row
        div.col-xs-12
            #profile-container
                form(name="profileForm")
                    .row
                        .clearfix

                        .col-md-4.col-xs-4.picture-col

                            .profile-picture(ng-file-drop='onFileSelect($files)',
                            ng-file-drop-available="dropSupported=true", ng-file-drag-over-delay='100', ng-class="{'empty' : me.picture == '' || me.picture == '/img/generic_avatar.gif'}")
                                img(src="{{me.picture}}", width='100%')
                                .picture-controls(ng-show="me.picture != '/img/generic_avatar.gif'")
                                    i.trash-btn.glyphicon.glyphicon-trash(ng-click="deletePicture()")

                                .picture-upload
                                    .upload-text Drag and Drop Picture
                        .col-md-8.col-xs-8.info-col
                            .row
                                .col-xs-10.col-xs-offset-1
                                    .form-group.row
                                        label.col-xs-2.control-label Email
                                        .col-xs-6
                                            div {{me.email}}
                                    .form-group.row
                                        label.col-xs-2.control-label Name
                                        .col-xs-6
                                            input.form-control(type='text', ng-model="me.name")
                                    .form-group.row
                                        label.col-xs-2.control-label Status
                                        .col-xs-10
                                            textarea.form-control(rows="2", type='text', placeholder="Write a status here...", ng-model="me.status")
                                    .form-group.row
                                        label.col-xs-2.control-label Classes
                                        .col-xs-10
                                            ui-select(multiple, ng-model="me.selectedClasses", theme="select2", style="width: 100%;", on-select="resetSearchInput($select)")
                                                ui-select-match(placeholder="Select Classes") {{$item.departmentCode + ' ' + $item.courseNumber}}
                                                ui-select-choices(repeat="class in allClasses | classFilter:$select.search", refresh="getClasses($select.search)"
                                                close-on-select="true") {{class.departmentCode + ' ' + class.courseNumber}}