
div.row

    div.col-xs-10.col-xs-offset-1
        .page-header.text-center
            div.alert-warn.fade(flash-alert="error", active-class='in alert', ng-click="hide()")
                strong.alert-message {{flash.message}}
            div.alert-warn.fade.row(flash-alert='success', active-class='in alert')
                strong.alert-message {{flash.message}}

            h2 New Account Information

            #statusButtons
                a(ui-sref-active="active", ui-sref=".email") Email
                a(ui-sref-active="active", ui-sref=".name") Name
                a(ui-sref-active="active", ui-sref=".password") Password


div.row
    div.col-xs-12
        form(name="formData", novalidate)#registerForm
            .ui-view#formViews(ng-class="{'leaveRight': !leaveLeft, 'leaveLeft' : leaveLeft}")