div#home-container
    div#home-intro
        .scroll-container
            .container.content-container
                .row
                    .col-md-6.col-md-offset-3.col-xs-10.col-xs-offset-1
                        div.row
                            div.col-xs-10.col-xs-offset-1
                                div.alert-warn.fade(flash-alert="error", active-class='in alert', ng-click="hide()")
                                    strong.alert-message {{flash.message}}
                                div.alert-warn.fade.row(flash-alert='success', active-class='in alert')
                                    strong.alert-message {{flash.message}}
                                p(ng-if="verified").text-center Thanks for verifying your account!
                                p(ng-if="!verified").text-center Sorry, that verification URL didn't match your account. Would you like us to send you another verification email?

                                div(style="width: 100%").text-center
                                    button.btn.btn-default.btn-main(ng-if="verified", ui-sref="site.auth.profile") Start Your Profile
                                    button.btn.btn-default.btn-main(ng-if="!verified", ng-click="sendEmail()") Send Again