script(type='text/ng-template', id='comment.html', src="/js/angular/partials/comment.html")

.group-post-textarea-container.clearfix(ng-class="{'minimize': textareaMinimize, 'hide' : !textAreaVisible}")
    button.btn.btn-default.new-post-button(ng-click="textareaMinimize = false")
        i.fa.fa-2x.fa-plus
        | New Post
    text-angular(ng-model="groupPostTextarea.text")
    .btn-group.pull-right.group-post-buttons
        button.btn.btn-large.btn-cancel(ng-click="cancelTextarea()") Cancel
        button.btn.btn-large.btn-post(ng-click="submitGroupPost()") Post

.group-post-outer-container.clearfix(ng-repeat="groupPost in groupPosts | orderBy: 'createdAt' : true",
        ng-init="getUser(groupPost)")
    .group-post-container
        .row
            .col-xs-2.picture
                img(ng-src="{{userFactory.getThumbnail(groupPost.user.picture)}}")
            .col-xs-10.content
                .row
                    div.name.pull-left {{groupPost.user.name}}
                    div.date.pull-right(once-text="formatDate(groupPost.createdAt)")
                .post-text(once-html="groupPost.text")

    div(ng-repeat="child in groupPost.comments", ng-init="getUser(child)", ng-include="'/js/angular/partials/comment.html'")

    .group-post-textarea-container.new-comment-container.visible
        text-angular(ng-model="groupPost.newCommentText", ta-toolbar="commentTextarea.toolbar")
        button.btn.btn-large.post-button(ng-click="submitComment(groupPost, null)") Submit


