.col-xs-12
    .row
        .col-lg-6.col-lg-offset-3.col-xs-8.col-xs-offset-2
            .form-group.form-group-lg.row
                .col-xs-12
                    label.input-lg Confirm password:
                .col-xs-12
                    input.form-control.input-lg(type="password", ng-model="formData.repassword")


    .row.form-control-row
        .col-xs-6.text-center
            a.btn-form(ui-sref='site.home.register.password')
                i.fa.fa-angle-left
                span Back
        .col-xs-6.text-center
            a.btn-form(ng-click="processRegForm()")
                span Finish
                i.fa.fa-angle-right
