.container.content-container#chat-container
    .chat-profile-container.offline
        i(ng-show="toUser.online").glyphicon.glyphicon-comment
        .col-md-2.col-xs-3.img-col
            img(once-src="getThumbnail(toUser.picture)")
        .col-md-10.col-xs-9.name-col
            .text-left
                h5.name(once-text="toUser.name")
            .text-left(once-text="toUser.classesString")
            .text-left {{toUser.status || 'No status to display.'}}
    .chat-message-display-container(scroll-glue="true")
        .chat-message(ng-repeat="m in messages track by m.created")
            strong.chat-date(once-text="formatDate(m.created).time", once-class="{'text-right' : m.from == me._id}")
            .chat-text(once-text="m.text", once-class="{'text-right' : m.from == me._id}")
    .chat-input-container
        .row
            .col-md-11.col-xs-10
                textarea.input(ng-model="message.text")
            .col-md-1.col-xs-2
                .btn.btn-send(ng-click="sendMessage()") SEND









