.container.content-container#chat-container
    .chat-profile-container.offline
        i(ng-show="toUser.online").glyphicon.glyphicon-comment
        .col-xs-2.img-col
            img(once-src="toUser.picture || '/img/generic_avatar.gif'")
        .col-xs-10.name-col
            .text-left
                h5.name(once-text="toUser.name")
            .text-left(once-text="toUser.classesString")
            .text-left {{toUser.status || 'No status to display.'}}
    .chat-message-display-container
        .chat-message(ng-repeat="m in messages")
            .chat-date(once-text="m.createdAt")
            .chat-text(once-text="m.text")
    .chat-input-container
        .row
            .col-xs-11
                textarea.input(ng-model="message.text")
            .col-xs-1
                .btn.btn-send(ng-click="sendMessage()") SEND









